@import "tailwindcss";

@theme {
  --font-sans: var(--font-outfit), ui-sans-serif, system-ui, sans-serif;
}

body {
  background-color: var(--color-white);
  color: var(--color-zinc-950);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@utility text-outline-bg {
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.1);
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@utility animate-marquee {
  animation: marquee 15s linear infinite;
}